.leftBlock {
    width: 30%;
    float: left;
}

.rightBlock {
    width: 30%;
    float: right;
}
.centerBlock{
    width: 40%;
    margin-left:30%;
    margin-right:30%;
    border-width:3px;
    border:groove;
    border-color:aliceblue;
    padding:15px 15px 15px 15px;
    background-color:whitesmoke;
    border-radius:15px 15px;
}
.data{
    float: right;
}
h3{
    text-align:center;
}
